{% autoescape off %}
the user got the following questions wrong:

{% for question in questions %}

"category": {{ question.category }},
"question": {{ question.question_text }},
"answer": {{ question.translation }},
"difficulty_rating": {{ question.difficulty }},

{% endfor %}

Create two new questions that will help the user improve their Italian and learn how to talk about {{query}}. 
The questions should be personalized to the mistakes above. 
The difficulty raitng of the questions should be based on the previous failed attempts of the user.
The questions shouldn't be a repeat of what is already provided in the input. 


Use the following format, where its valid json:

"question": [the phrase the user needs to translate, do not include any instructions],
"answer": [the correct answer to the question],
"instruction": [tell the user some points to remember in this translation],
"difficulty_rating": [difficulty rating of the translation],
"category": [category of the question],
"options": [3 semicolon separated wrong answers which talk about something else]

{% endautoescape %}

